body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0rem;
    color: black;
}

main {
    padding: 0rem 20rem;
}

#logo {
    width: 8rem;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 20rem;
}

#welcome h1 {
    font-size: 2.5rem;
    text-align: center;
}

footer {
    padding: 0rem 20rem;
    text-align: center;
}

nav a {
    font-weight: bold;
    text-decoration: none;
    padding: 1rem;
    color: #3882f6;
}

nav button {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 1rem;
    border: 1px solid;
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 10px;
    font-weight: bold;
    font-size: 1rem;
}

.services-list {
    display: flex;
    justify-content: space-between;
}

.service-item {
    width: 15rem;
    height: 15rem;
    padding: 1rem;
    margin: 1rem;
    border-radius: 10px;
    color: black;
    font-weight: bold;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.service-item span {
    position: absolute;
    bottom: 0.5rem;
    color: #f9faf8;
    background-color: #3882f6;
    border-radius: 1rem;
    padding: 0.5rem;
}

.urgency {
    background-image: url("urgency.webp");
}

.laboratory {
    background-image: url("laboratory.webp");
}

.maternity {
    background-image: url("maternity.jpg");
}

.radiology {
    background-image: url("radiology.jpg");
}

.quote {
    font-size: 1.25rem;
    font-weight: lighter;
    font-style: italic;
    
}

.author {
    text-align: right;
    font-size: 1rem;
    font-weight: bolder;
}